ion-input{
    border-radius: 15px;
    background: #F4F6F6;
}

ion-label{
    position: center;
}

ion-datetime{
    background: #F4F6F6;
    border-radius: 15px;
}

.bottom{
    padding-bottom: 10px;
}

b{
    color: red;
}

ion-textarea{
    background: #F4F6F6;
    border-radius: 15px;
}

ion-select{
    background: #F4F6F6;
    border-radius: 15px;
}

ion-row.header{
    align-items: center;
    text-align: center;;
}