.center{
  padding-top: 10px;
  text-align: center;
}

img{
  border-radius: 50%;
}

form{
  padding-top: 2em;;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

ion-card{
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

ion-input{
  border-radius: 15px;
  background: #F4F6F6;
}
ion-select{
  border-radius: 15px;
  background: #F4F6F6;
}

.rojo{
  color: red;
}

.center{
  align-items: center;
  align-content: center;
  text-align: center;
}