ion-chip{
    font-size: 15px;
    color: #1C2833;
}

.bottom{
    padding-bottom: 10px;
}

ion-label.grey{
    background: #F8F9F9;
}

ion-label{
    position: center;
}
ion-col.center{
    align-items: center;
    align-content: center;
    text-align: center;
}

.bold{
    font-weight: bold;
}

ion-label.left{
    padding-left: 12px;
    padding-top: 10px;
    color: #2E86C1;
}

b{
    color: red;
}

ion-select{
    background: #F8F9F9;
}

ion-row.header{
    padding-top: 10px;
    align-items: center;
    text-align: center;;
}

ion-grid{
    padding: 1em 1em 1em 1em;
}

i-row.top{
    padding-top: 20px;
}