h1{
    color: blue;
}
.top{
    padding-top: 2em;
}
ion-card{
    align-items: center;
    text-align: center;
    align-content: center;
}

ion-button{
    margin-top: 1em;
    margin-bottom: 1em;
}

.padding{
    margin-top: 1em;
}