<app-header titulo="Registrar Actividades"></app-header>

<ion-content>
    <form (ngSubmit)="saveOT()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label><b>* </b>Folio</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" autofocus required name="folio" type="text"
              [(ngModel)]="ot.folio"></ion-input>
            </ion-col>
            <ion-col>
                <ion-label><b>* </b>Fecha </ion-label>
                <ion-datetime doneText="Aceptar" cancelText="Cancelar" displayFormat="DD/MM/YYYY"
                placeholder="(Día/Mes/Año)" 
                doneText="Aceptar"
                cancelText="Cancelar"
                required
                name="fecha" [(ngModel)]="ot.fecha">
                </ion-datetime>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-label><b>* </b>Vehiculo</ion-label>
                <ion-select interface="popover"  doneText="Aceptar" cancelText="Cancelar" name="num_economico" [(ngModel)]="ot.vehiculo">
                  <ion-select-option *ngFor="let vehi of allv | async" 
                  value="{{ vehi.num_economico }}">{{ vehi.num_economico }}</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col>
              <ion-label position="floating"><b>* </b>Conductor</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" name="conductor" disabled [(ngModel)]="ot.conductor"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="6">
                  <ion-label><b>* </b>Turno</ion-label>
                      <ion-select interface="popover"  doneText="Aceptar" cancelText="Cancelar" value="1" placeholder="Seleccionar"
                      value="{{ot.turno}}" name="turno">
                          <ion-select-option value="1">1</ion-select-option>
                          <ion-select-option value="2">2</ion-select-option>
                      </ion-select>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
                <ion-label><b>* </b>Hora Inicial</ion-label>
                <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                picker-format="H:mm A" 
                value="" name="d_hora_inicial" placeholder="ej: 11:25 AM"
                [(ngModel)]="ot.d_hora_inicial"></ion-datetime>
            </ion-col>
            <ion-col size="6">
                <ion-label><b>* </b>Hora Final</ion-label>
                <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                picker-format="H:mm A" 
                value="" name="d_hora_final" placeholder="ej: 14:30 PM"
                [(ngModel)]="ot.d_hora_final"></ion-datetime>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating"><b>* </b>Kilometraje Inicial</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" name="kilometraje_ini" [(ngModel)]="ot.kilometraje_ini"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="floating"><b>* </b>Kilometraje Final</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" name="kilometraje_final" [(ngModel)]="ot.kilometraje_final"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating"><b>* </b>Ubicación Inicial</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" name="d_ubicacion_ini" [(ngModel)]="ot.d_ubicacion_ini"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="floating"><b>* </b>Ubicación Final</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" name="ubicacion_final" [(ngModel)]="ot.ubicacion_final"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="header">
            <ion-col>
              <ion-label color="tertiary">Reporte de Consumo en Litros</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating"><b>* </b>Combustible</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" name="combustible" [(ngModel)]="ot.combustible"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="floating">Aceite Hidraulico</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" name="aceite_hidraulico" [(ngModel)]="ot.aceite_hidraulico"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating">Aceite de Transmisión</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" name="aceite_transmision" [(ngModel)]="ot.aceite_transmision"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="floating">Aceite de Motor</ion-label>
              <ion-input  doneText="Aceptar" cancelText="Cancelar" name="aceite_motor" [(ngModel)]="ot.aceite_motor"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="header">
            <ion-col>
              <ion-label color="tertiary">Trabajo Realizado</ion-label>
            </ion-col>
          </ion-row>

          <ion-card color="secondary">
            <ion-item color="secondary">
                <ion-label>Códigos de Operaciones</ion-label>
            </ion-item>
            <ion-card-content>
              <ion-label>R101 R101 Traslado de Personal</ion-label>
              <br>
              <ion-label>R102 R102 Traslado de Material</ion-label>
              <br>
              <ion-label>R103 R103 Traslado de Equipos</ion-label>
              <br>
              <ion-label>R104 R104 Otros</ion-label>
            </ion-card-content>
          </ion-card>
                <ion-row>
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                        <ion-select 
                        [value]="ot.cod_operacion1" interface="popover"  doneText="Aceptar" cancelText="Cancelar"
                        (ionChange)="optionsFn($event, 'cod_operacion1')">
                          <ion-select-option value="R101">R101 Traslado de Personal</ion-select-option>
                          <ion-select-option value="R102">R102 Traslado de Material</ion-select-option>
                          <ion-select-option value="R103">R103 Traslado de Equipos</ion-select-option>
                          <ion-select-option value="R104">R104 Otros</ion-select-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nivel1" [(ngModel)]="ot.nivel1"></ion-input>
                  </ion-col>
                  </ion-row>
                <ion-row>
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="lugar1" [(ngModel)]="ot.lugar1"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-select interface="popover" doneText="Aceptar" cancelText="Cancelar" type="text"
                    name="empresa1" [(ngModel)]="ot.empresa1">
                      <ion-select-option value="Cmc">Cmc</ion-select-option>
                      <ion-select-option value="Gremi">Gremi</ion-select-option>
                      <ion-select-option value="Mexgeo">Mexgeo</ion-select-option>
                      <ion-select-option value="Herza">Herza</ion-select-option>
                      <ion-select-option value="Master drilling">Master drilling</ion-select-option>
                      <ion-select-option value="Cammsa">Cammsa</ion-select-option>
                      <ion-select-option value="Avar">Avar</ion-select-option>
                      <ion-select-option value="Otro">Otro</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                  <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A"
                    picker-format="H:mm A" 
                    value="" name="hora_inicial1" placeholder="ej: 11:25 AM"
                    [(ngModel)]="ot.hora_inicial1"></ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                  <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                    picker-format="H:mm A" 
                    value="" name="hora_final1" placeholder="ej: 14:30 PM"
                    [(ngModel)]="ot.hora_final1"></ion-datetime>
                  </ion-col>
                </ion-row>
               <ion-row>
                  <ion-col size="6">
                      <ion-label>Breve Descripción</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="b_descripcion1" [(ngModel)]="ot.b_descripcion1"></ion-input>
                  </ion-col>
               </ion-row>
               <br>
                <ion-row *ngIf="(cont >= 2)">
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                      <ion-select interface="popover"  doneText="Aceptar" cancelText="Cancelar"
                        [value]="ot.cod_operacion2" (ionChange)="optionsFn($event, 'cod_operacion2')">
                          <ion-select-option value="R101">R101 Traslado de Personal</ion-select-option>
                          <ion-select-option value="R102">R102 Traslado de Material</ion-select-option>
                          <ion-select-option value="R103">R103 Traslado de Equipos</ion-select-option>
                          <ion-select-option value="R104">R104 Otros</ion-select-option>
                      </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nivel2" [(ngModel)]="ot.nivel2"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="lugar2" [(ngModel)]="ot.lugar2"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-select interface="popover" doneText="Aceptar" cancelText="Cancelar" type="text"
                    name="empresa2" [(ngModel)]="ot.empresa2">
                      <ion-select-option value="Cmc">Cmc</ion-select-option>
                      <ion-select-option value="Gremi">Gremi</ion-select-option>
                      <ion-select-option value="Mexgeo">Mexgeo</ion-select-option>
                      <ion-select-option value="Herza">Herza</ion-select-option>
                      <ion-select-option value="Master drilling">Master drilling</ion-select-option>
                      <ion-select-option value="Cammsa">Cammsa</ion-select-option>
                      <ion-select-option value="Avar">Avar</ion-select-option>
                      <ion-select-option value="Otro">Otro</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                  <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                      picker-format="H:mm A" 
                      value="" name="hora_inicial2" placeholder="ej: 11:25 AM"
                      [(ngModel)]="ot.hora_inicial2"></ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                  <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                      picker-format="H:mm A" 
                      value="" name="hora_final2" placeholder="ej: 14:30 PM"
                      [(ngModel)]="ot.hora_final2">
                      </ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)" class="bottom">
                    <ion-col size="6">
                        <ion-label>Breve Descripción</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                        <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="b_descripcion2" [(ngModel)]="ot.b_descripcion2"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                <ion-col size="6">
                  <ion-label> Codigo Operación</ion-label>  
                </ion-col>
                <ion-col size="6">
                      <ion-select interface="popover"  doneText="Aceptar" cancelText="Cancelar"
                        [value]="ot.cod_operacion3" (ionChange)="optionsFn($event, 'cod_operacion3')">
                          <ion-select-option value="R101">R101 Traslado de Personal</ion-select-option>
                          <ion-select-option value="R102">R102 Traslado de Material</ion-select-option>
                          <ion-select-option value="R103">R103 Traslado de Equipos</ion-select-option>
                          <ion-select-option value="R104">R104 Otros</ion-select-option>
                      </ion-select>
                </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
              <ion-col size="6">
                <ion-label>Nivel</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nivel3" [(ngModel)]="ot.nivel3"></ion-input>
              </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="lugar3" [(ngModel)]="ot.lugar3"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-select interface="popover" doneText="Aceptar" cancelText="Cancelar" type="text"
                    name="empresa3" [(ngModel)]="ot.empresa3">
                      <ion-select-option value="Cmc">Cmc</ion-select-option>
                      <ion-select-option value="Gremi">Gremi</ion-select-option>
                      <ion-select-option value="Mexgeo">Mexgeo</ion-select-option>
                      <ion-select-option value="Herza">Herza</ion-select-option>
                      <ion-select-option value="Master drilling">Master drilling</ion-select-option>
                      <ion-select-option value="Cammsa">Cammsa</ion-select-option>
                      <ion-select-option value="Avar">Avar</ion-select-option>
                      <ion-select-option value="Otro">Otro</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                  <ion-col size="6">
                  <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                        <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                          picker-format="H:mm A" 
                          value="" name="hora_inicial3" placeholder="ej: 11:25 AM"
                          [(ngModel)]="ot.hora_inicial3">
                        </ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                  <ion-col size="6">
                    <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                          picker-format="H:mm A" 
                          value="" name="hora_final3" placeholder="ej: 14:30 PM"
                          [(ngModel)]="ot.hora_final3">
                        </ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)" class="bottom">
                  <ion-col size="6">
                      <ion-label>Breve Descripción</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="b_descripcion3" [(ngModel)]="ot.b_descripcion3"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                          <ion-select interface="popover"  doneText="Aceptar" cancelText="Cancelar"
                            [value]="ot.cod_operacion4" (ionChange)="optionsFn($event, 'cod_operacion4')">
                              <ion-select-option value="R101">R101 Traslado de Personal</ion-select-option>
                              <ion-select-option value="R102">R102 Traslado de Material</ion-select-option>
                              <ion-select-option value="R103">R103 Traslado de Equipos</ion-select-option>
                              <ion-select-option value="R104">R104 Otros</ion-select-option>
                          </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nivel4" [(ngModel)]="ot.nivel4"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="lugar4" [(ngModel)]="ot.lugar4"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-select interface="popover" doneText="Aceptar" cancelText="Cancelar" type="text"
                    name="empresa4" [(ngModel)]="ot.empresa4">
                      <ion-select-option value="Cmc">Cmc</ion-select-option>
                      <ion-select-option value="Gremi">Gremi</ion-select-option>
                      <ion-select-option value="Mexgeo">Mexgeo</ion-select-option>
                      <ion-select-option value="Herza">Herza</ion-select-option>
                      <ion-select-option value="Master drilling">Master drilling</ion-select-option>
                      <ion-select-option value="Cammsa">Cammsa</ion-select-option>
                      <ion-select-option value="Avar">Avar</ion-select-option>
                      <ion-select-option value="Otro">Otro</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                    <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                          picker-format="H:mm A" 
                          value="" name="hora_inicial4" placeholder="ej: 11:25 AM"
                          [(ngModel)]="ot.hora_inicial4">
                        </ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                    <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                    picker-format="H:mm A" 
                    value="" name="hora_final4" placeholder="ej: 14:30 PM"
                    [(ngModel)]="ot.hora_final4">
                    </ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)" class="bottom">
                  <ion-col size="6">
                      <ion-label>Breve Descripción</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="b_descripcion4" [(ngModel)]="ot.b_descripcion4"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                      <ion-select interface="popover"  doneText="Aceptar" cancelText="Cancelar"
                      [value]="ot.cod_operacion5" (ionChange)="optionsFn($event, 'cod_operacion5')">
                        <ion-select-option value="R101">R101 Traslado de Personal</ion-select-option>
                        <ion-select-option value="R102">R102 Traslado de Material</ion-select-option>
                        <ion-select-option value="R103">R103 Traslado de Equipos</ion-select-option>
                        <ion-select-option value="R104">R104 Otros</ion-select-option>
                    </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nivel5" [(ngModel)]="ot.nivel5"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="lugar5" [(ngModel)]="ot.lugar5"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-select interface="popover" doneText="Aceptar" cancelText="Cancelar" type="text"
                    name="empresa5" [(ngModel)]="ot.empresa5">
                      <ion-select-option value="Cmc">Cmc</ion-select-option>
                      <ion-select-option value="Gremi">Gremi</ion-select-option>
                      <ion-select-option value="Mexgeo">Mexgeo</ion-select-option>
                      <ion-select-option value="Herza">Herza</ion-select-option>
                      <ion-select-option value="Master drilling">Master drilling</ion-select-option>
                      <ion-select-option value="Cammsa">Cammsa</ion-select-option>
                      <ion-select-option value="Avar">Avar</ion-select-option>
                      <ion-select-option value="Otro">Otro</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                    <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                    picker-format="H:mm A" 
                    value="" name="hora_inicial5" placeholder="ej: 11:25 AM"
                    [(ngModel)]="ot.hora_inicial5">
                    </ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                    <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                    picker-format="H:mm A" 
                    value="" name="hora_final5" placeholder="ej: 14:30 PM"
                    [(ngModel)]="ot.hora_final5">
                    </ion-datetime>
                  </ion-col>
                </ion-row>
               
              <ion-row *ngIf="(cont >= 5)" class="bottom">
                  <ion-col size="6">
                      <ion-label>Breve Descripción</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="b_descripcion5" [(ngModel)]="ot.b_descripcion5"></ion-input>
                  </ion-col>
              </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                      <ion-select interface="popover"  doneText="Aceptar" cancelText="Cancelar"
                        [value]="ot.cod_operacion6" (ionChange)="optionsFn($event, 'cod_operacion6')">
                          <ion-select-option value="R101">R101 Traslado de Personal</ion-select-option>
                          <ion-select-option value="R102">R102 Traslado de Material</ion-select-option>
                          <ion-select-option value="R103">R103 Traslado de Equipos</ion-select-option>
                          <ion-select-option value="R104">R104 Otros</ion-select-option>
                      </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nivel6" [(ngModel)]="ot.nivel6"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="lugar6" [(ngModel)]="ot.lugar6"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-select interface="popover" doneText="Aceptar" cancelText="Cancelar" type="text"
                    name="empresa6" [(ngModel)]="ot.empresa6">
                      <ion-select-option value="Cmc">Cmc</ion-select-option>
                      <ion-select-option value="Gremi">Gremi</ion-select-option>
                      <ion-select-option value="Mexgeo">Mexgeo</ion-select-option>
                      <ion-select-option value="Herza">Herza</ion-select-option>
                      <ion-select-option value="Master drilling">Master drilling</ion-select-option>
                      <ion-select-option value="Cammsa">Cammsa</ion-select-option>
                      <ion-select-option value="Avar">Avar</ion-select-option>
                      <ion-select-option value="Otro">Otro</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                  <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                    picker-format="H:mm A" 
                    value="" name="hora_inicial6" placeholder="ej: 11:25 AM"
                    [(ngModel)]="ot.hora_inicial6">
                    </ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                    <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                    picker-format="H:mm A" 
                    value="" name="hora_final6" placeholder="ej: 14:30 PM"
                    [(ngModel)]="ot.hora_final6">
                    </ion-datetime>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)" class="bottom">
                    <ion-col size="6">
                        <ion-label>Breve Descripción</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                        <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="b_descripcion6" [(ngModel)]="ot.b_descripcion6"></ion-input>
                    </ion-col>
                </ion-row>
            <ion-row *ngIf="(cont >= 7)">
                <ion-col size="6">
                  <ion-label> Codigo Operación</ion-label>  
                </ion-col>
                <ion-col size="6">
                  <ion-select interface="popover"  doneText="Aceptar" cancelText="Cancelar"
                    [value]="ot.cod_operacion7" (ionChange)="optionsFn($event, 'cod_operacion7')">
                      <ion-select-option value="R101">R101 Traslado de Personal</ion-select-option>
                      <ion-select-option value="R102">R102 Traslado de Material</ion-select-option>
                      <ion-select-option value="R103">R103 Traslado de Equipos</ion-select-option>
                      <ion-select-option value="R104">R104 Otros</ion-select-option>
                  </ion-select>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
                <ion-label>Nivel</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nivel7" [(ngModel)]="ot.nivel7"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
                  <ion-col size="6">
                  <ion-label>Lugar</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                  <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="lugar7" [(ngModel)]="ot.lugar7"></ion-input>
                  </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
                  <ion-label>Empresa</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-select interface="popover" doneText="Aceptar" cancelText="Cancelar" type="text"
                    name="empresa7" [(ngModel)]="ot.empresa7">
                      <ion-select-option value="Cmc">Cmc</ion-select-option>
                      <ion-select-option value="Gremi">Gremi</ion-select-option>
                      <ion-select-option value="Mexgeo">Mexgeo</ion-select-option>
                      <ion-select-option value="Herza">Herza</ion-select-option>
                      <ion-select-option value="Master drilling">Master drilling</ion-select-option>
                      <ion-select-option value="Cammsa">Cammsa</ion-select-option>
                      <ion-select-option value="Avar">Avar</ion-select-option>
                      <ion-select-option value="Otro">Otro</ion-select-option>
                  </ion-select>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
              <ion-label>Hora Inicial</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                picker-format="H:mm A" 
                value="" name="hora_inicial7" placeholder="ej: 11:25 AM"
                [(ngModel)]="ot.hora_inicial7">
                </ion-datetime>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
              <ion-label>Hora Final</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                picker-format="H:mm A" 
                value="" name="hora_final7" placeholder="ej: 14:30 PM"
                [(ngModel)]="ot.hora_final7">
                </ion-datetime>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)" class="bottom">
                <ion-col size="6">
                    <ion-label>Breve Descripción</ion-label>  
                </ion-col>
                <ion-col size="6">
                    <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="b_descripcion7" [(ngModel)]="ot.b_descripcion7"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
                <ion-col size="6">
                  <ion-label> Codigo Operación</ion-label>  
                </ion-col>
                <ion-col size="6">
                  <ion-select interface="popover"  doneText="Aceptar" cancelText="Cancelar"
                  [value]="ot.cod_operacion8" (ionChange)="optionsFn($event, 'cod_operacion8')">
                    <ion-select-option value="R101">R101 Traslado de Personal</ion-select-option>
                    <ion-select-option value="R102">R102 Traslado de Material</ion-select-option>
                    <ion-select-option value="R103">R103 Traslado de Equipos</ion-select-option>
                    <ion-select-option value="R104">R104 Otros</ion-select-option>
                  </ion-select>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
                <ion-label>Nivel</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nivel8" [(ngModel)]="ot.nivel8"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
                  <ion-col size="6">
                  <ion-label>Lugar</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                  <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="lugar8" [(ngModel)]="ot.lugar8"></ion-input>
                  </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
                  <ion-label>Empresa</ion-label>  
              </ion-col>
              <ion-col size="6">
                  <ion-select interface="popover" doneText="Aceptar" cancelText="Cancelar" type="text"
                    name="empresa8" [(ngModel)]="ot.empresa8">
                      <ion-select-option value="Cmc">Cmc</ion-select-option>
                      <ion-select-option value="Gremi">Gremi</ion-select-option>
                      <ion-select-option value="Mexgeo">Mexgeo</ion-select-option>
                      <ion-select-option value="Herza">Herza</ion-select-option>
                      <ion-select-option value="Master drilling">Master drilling</ion-select-option>
                      <ion-select-option value="Cammsa">Cammsa</ion-select-option>
                      <ion-select-option value="Avar">Avar</ion-select-option>
                      <ion-select-option value="Otro">Otro</ion-select-option>
                  </ion-select>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
              <ion-label>Hora Inicial</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                picker-format="H:mm A" 
                value="" name="hora_inicial8" placeholder="ej: 11:25 AM"
                [(ngModel)]="ot.hora_inicial8">
                </ion-datetime>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
              <ion-label>Hora Final</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-datetime doneText="Aceptar" cancelText="Cancelar" display-format="H:mm A" 
                picker-format="H:mm A" 
                value="" name="hora_final8" placeholder="ej: 14:30 PM"
                [(ngModel)]="ot.hora_final8">
                </ion-datetime>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)" class="bottom">
              <ion-col size="6">
                  <ion-label>Breve Descripción</ion-label>  
              </ion-col>
              <ion-col size="6">
                  <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="b_descripcion8" [(ngModel)]="ot.b_descripcion8"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button  
                size="small"
                shape="round"
                color="primary"
                (click)="sumar()"
                >
                Agregar
                </ion-button>
                <ion-button  
                size="small"
                shape="round"
                color="danger"
                (click)="restar()"
                >
                Remover
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label>Observaciones</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-textarea name="observaciones" [(ngModel)]="ot.observaciones"></ion-textarea>
                </ion-col>
            </ion-row>
           
         <ion-row>
            <ion-col size="6">
                <ion-label>Nombre del Supervisor Avar</ion-label> 
                <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nombre_sup_avar" 
                [(ngModel)]="ot.nombre_sup_avar"></ion-input> 
            </ion-col>
            <ion-col size="6">
                <ion-label>Nombre del Contratista</ion-label>
                <ion-input  doneText="Aceptar" cancelText="Cancelar" type="text" name="nombre_contratista" 
                [(ngModel)]="ot.nombre_contratista"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col size="12">
              <ion-button type="submit" 
                    expand="block" 
                    fill="solid" 
                    shape="round"
                    color="primary"
                    >
              Guardar
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
    </form>
</ion-content>
