<app-header titulo="Reportes Mantenimiento"></app-header>

<ion-content>
  <ion-item>
    <ion-label>Inversión en equipo & diesel</ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="6">
      <ion-card [routerLink]="['/costosmttorfechas']">
        <ion-card-content>
            <h2>Inversión en equipos</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card [routerLink]="['/dieselconfechas']">
        <ion-card-content>
            <h2>Consumo de diesel por equipos</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
   
    <!--
    <ion-col size="6">
      <ion-card [routerLink]="['/dieselconsgeneral']">
        <ion-card-content>
            <h2>Montos generales</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>-->
    
  </ion-row>
</ion-content>
