<app-header titulo="Órden de Trabajo"></app-header>

<ion-content >
   <!-- fab placed to the top end -->
   <ion-fab horizontal="end" vertical="top" slot="fixed" edge 
   *ngIf="usuario['tuserint'] == 16 || usuario['tuserint'] == 24  || usuario['tuserint'] == 4">
     <ion-fab-button color="tertiary">
       <ion-icon name="add"></ion-icon>
     </ion-fab-button>
     <ion-fab-list>
       <ion-fab-button color="light" (click)="valido()">
         <ion-icon name="checkmark-outline"></ion-icon>
       </ion-fab-button>
       <ion-fab-button color="light" routerLink="/editotv/{{ ot.id }}">
         <ion-icon name="create-outline"></ion-icon>
       </ion-fab-button>
     </ion-fab-list>
   </ion-fab>

  <ion-grid class="pad">
    <ion-row>
      <ion-col>
        <ion-label><b>* </b>Folio</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.folio }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
          <ion-label><b>* </b>Fecha (Año-mes-día)</ion-label>
          <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.fecha }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-label><b>* </b>Vehiculo</ion-label>
          <br>
          <ion-chip color="tertiary">
            <ion-label>{{ ot.vehiculo }}</ion-label>
          </ion-chip>
      </ion-col>
      <ion-col>
        <ion-label position="floating"><b>* </b>Conductor</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.conductor }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <ion-label><b>* </b>Turno</ion-label>
                <br>
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.turno }}</ion-label>
                </ion-chip>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          <ion-label><b>* </b>Hora Inicial</ion-label>
          <br>
           <ion-chip color="tertiary">
              <ion-label>{{ ot.d_hora_inicial }}</ion-label>
            </ion-chip>
      </ion-col>
      <ion-col size="6">
          <ion-label><b>* </b>Hora Final</ion-label>
          <br>
          <ion-chip color="tertiary">
            <ion-label>{{ ot.d_hora_final }}</ion-label>
          </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating"><b>* </b>Kilometraje Inicial</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.kilometraje_ini }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-label position="floating"><b>* </b>Kilometraje Final</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.kilometraje_final }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating"><b>* </b>Ubicación Inicial</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.d_ubicacion_ini }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-label position="floating"><b>* </b>Ubicación Final</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.ubicacion_final }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col>
        <ion-label color="tertiary">Reporte de Consumo en Litros</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating"><b>* </b>Combustible</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.combustible }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-label position="floating"><b>* </b>Aceite Hidraulico</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.aceite_hidraulico }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating"><b>* </b>Aceite de Transmisión</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.aceite_transmision }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-label position="floating"><b>* </b>Aceite de Motor</ion-label>
        <br>
        <ion-chip color="tertiary">
          <ion-label>{{ ot.aceite_motor }}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row class="header">
      <ion-col>
        <ion-label color="tertiary">Trabajo Realizado</ion-label>
      </ion-col>
    </ion-row>

    <ion-card color="secondary">
      <ion-item color="secondary">
          <ion-label>Códigos de Operaciones</ion-label>
      </ion-item>
      <ion-card-content>
        <ion-label>R101 Traslado de Personal</ion-label>
        <br>
        <ion-label>R102 Traslado de Material</ion-label>
        <br>
        <ion-label>R103 Traslado de Equipos</ion-label>
        <br>
        <ion-label>R104 Otros</ion-label>
      </ion-card-content>
    </ion-card>
          <ion-row>
              <ion-col size="6">
                <ion-label> Codigo Operación</ion-label>  
              </ion-col>
              <ion-col size="6">
                  <ion-chip color="tertiary">
                    <ion-label>{{ ot.cod_operacion1 }}</ion-label>
                  </ion-chip>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label>Nivel</ion-label>  
            </ion-col>
            <ion-col size="6">
              <ion-chip color="tertiary">
                <ion-label>{{ ot.nivel1 }}</ion-label>
              </ion-chip>
            </ion-col>
            </ion-row>
          <ion-row>
            <ion-col size="6">
                <ion-label>Lugar</ion-label>  
                </ion-col>
                <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.lugar1 }}</ion-label>
                </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
                <ion-label>Empresa</ion-label>  
            </ion-col>
            <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.empresa1 }}</ion-label>
                </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
            <ion-label>Hora Inicial</ion-label>  
            </ion-col>
            <ion-col size="6">
              <ion-chip color="tertiary">
                <ion-label>{{ ot.hora_inicial1 }}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
            <ion-label>Hora Final</ion-label>  
            </ion-col>
            <ion-col size="6">
              <ion-chip color="tertiary">
                <ion-label>{{ ot.hora_final1 }}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
         <ion-row class="bottom">
            <ion-col size="6">
                <ion-label>Breve Descripción</ion-label>  
            </ion-col>
            <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.b_descripcion1 }}</ion-label>
                </ion-chip>
            </ion-col>
         </ion-row>
          <ion-row  *ngIf=" ot.cod_operacion2 != null">
              <ion-col size="6">
                <ion-label> Codigo Operación</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.cod_operacion2 }}</ion-label>
                </ion-chip>
              </ion-col>
          </ion-row>
          <ion-row  *ngIf=" ot.cod_operacion2 != null">
            <ion-col size="6">
              <ion-label>Nivel</ion-label>  
            </ion-col>
            <ion-col size="6">
              <ion-chip color="tertiary">
                <ion-label>{{ ot.nivel2 }}</ion-label>
              </ion-chip>
            </ion-col>
            </ion-row>
          <ion-row  *ngIf=" ot.cod_operacion2 != null">
              <ion-col size="6">
                <ion-label>Lugar</ion-label>  
                </ion-col>
                <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.lugar2 }}</ion-label>
                </ion-chip>
              </ion-col>
          </ion-row>
          <ion-row  *ngIf=" ot.cod_operacion2 != null">
            <ion-col size="6">
                <ion-label>Empresa</ion-label>  
            </ion-col>
            <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.empresa2 }}</ion-label>
                </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row  *ngIf=" ot.cod_operacion2 != null">
            <ion-col size="6">
            <ion-label>Hora Inicial</ion-label>  
            </ion-col>
            <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.hora_inicial2 }}</ion-label>
                </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row  *ngIf=" ot.cod_operacion2 != null">
            <ion-col size="6">
            <ion-label>Hora Final</ion-label>  
            </ion-col>
            <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.hora_final2 }}</ion-label>
                </ion-chip>
            </ion-col>
          </ion-row>
         <ion-row  *ngIf=" ot.cod_operacion2 != null" class="bottom">
            <ion-col size="6">
                <ion-label>Breve Descripción</ion-label>  
            </ion-col>
            <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.b_descripcion2 }}</ion-label>
                </ion-chip>
            </ion-col>
         </ion-row>
         <ion-row  *ngIf=" ot.cod_operacion3 != null">
          <ion-col size="6">
            <ion-label> Codigo Operación</ion-label>  
          </ion-col>
          <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.cod_operacion3 }}</ion-label>
                </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion3 != null">
        <ion-col size="6">
          <ion-label>Nivel</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.nivel3 }}</ion-label>
          </ion-chip>
        </ion-col>
        </ion-row>
      <ion-row *ngIf=" ot.cod_operacion3 != null">
          <ion-col size="6">
            <ion-label>Lugar</ion-label>  
            </ion-col>
            <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.lugar3 }}</ion-label>
            </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion3 != null">
        <ion-col size="6">
            <ion-label>Empresa</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.empresa3 }}</ion-label>
            </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion3 != null">
        <ion-col size="6">
        <ion-label>Hora Inicial</ion-label>  
        </ion-col>
        <ion-col size="6">
              <ion-chip color="tertiary">
                <ion-label>{{ ot.hora_inicial3 }}</ion-label>
              </ion-chip>
        </ion-col>
      </ion-row>
     <ion-row *ngIf=" ot.cod_operacion3 != null">
        <ion-col size="6">
          <ion-label>Hora Final</ion-label>  
        </ion-col>
        <ion-col size="6">
              <ion-chip color="tertiary">
                <ion-label>{{ ot.hora_final3 }}</ion-label>
              </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion3 != null" class="bottom">
        <ion-col size="6">
            <ion-label>Breve Descripción</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
                <ion-label>{{ ot.b_descripcion3 }}</ion-label>
              </ion-chip>
        </ion-col>
     </ion-row>
         <ion-row *ngIf=" ot.cod_operacion4 != null">
          <ion-col size="6">
            <ion-label> Codigo Operación</ion-label>  
          </ion-col>
          <ion-col size="6">
                <ion-chip color="tertiary">
                  <ion-label>{{ ot.cod_operacion4 }}</ion-label>
                </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion4 != null">
        <ion-col size="6">
          <ion-label>Nivel</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.nivel4 }}</ion-label>
          </ion-chip>
        </ion-col>
        </ion-row>
      <ion-row *ngIf=" ot.cod_operacion4 != null">
        <ion-col size="6">
            <ion-label>Lugar</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.lugar4 }}</ion-label>
            </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion4 != null">
        <ion-col size="6">
            <ion-label>Empresa</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.empresa4 }}</ion-label>
            </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion4 != null">
        <ion-col size="6">
          <ion-label>Hora Inicial</ion-label>  
        </ion-col>
        <ion-col size="6">
              <ion-chip color="tertiary">
                <ion-label>{{ ot.hora_inicial4 }}</ion-label>
              </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion4 != null">
        <ion-col size="6">
          <ion-label>Hora Final</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_final4 }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion4 != null" class="bottom">
        <ion-col size="6">
            <ion-label>Breve Descripción</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.b_descripcion4 }}</ion-label>
            </ion-chip>
        </ion-col>
      </ion-row>
         <ion-row *ngIf=" ot.cod_operacion5 != null">
          <ion-col size="6">
            <ion-label> Codigo Operación</ion-label>  
          </ion-col>
          <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.cod_operacion5 }}</ion-label>
            </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion5 != null">
        <ion-col size="6">
          <ion-label>Nivel</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.nivel5 }}</ion-label>
          </ion-chip>
        </ion-col>
        </ion-row>
      <ion-row *ngIf=" ot.cod_operacion5 != null">
          <ion-col size="6">
            <ion-label>Lugar</ion-label>  
            </ion-col>
            <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.lugar5 }}</ion-label>
            </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion5 != null">
        <ion-col size="6">
            <ion-label>Empresa</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.empresa5 }}</ion-label>
            </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion5 != null">
        <ion-col size="6">
          <ion-label>Hora Inicial</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_inicial5 }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion5 != null">
        <ion-col size="6">
          <ion-label>Hora Final</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_final5 }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
     <ion-row *ngIf=" ot.cod_operacion5 != null" class="bottom">
        <ion-col size="6">
            <ion-label>Breve Descripción</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.b_descripcion5 }}</ion-label>
            </ion-chip>
        </ion-col>
     </ion-row>
         <ion-row *ngIf=" ot.cod_operacion6 != null">
          <ion-col size="6">
            <ion-label> Codigo Operación</ion-label>  
          </ion-col>
          <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.cod_operacion6 }}</ion-label>
            </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion6 != null">
        <ion-col size="6">
          <ion-label>Nivel</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-label color="tertiary">{{ot.nivel6}}</ion-label>
          <ion-chip color="tertiary">
            <ion-label>{{ ot.nivel6 }}</ion-label>
          </ion-chip>
        </ion-col>
        </ion-row>
      <ion-row *ngIf=" ot.cod_operacion6 != null">
            <ion-col size="6">
            <ion-label>Lugar</ion-label>  
            </ion-col>
            <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.lugar6 }}</ion-label>
            </ion-chip>
            </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion6 != null">
        <ion-col size="6">
            <ion-label>Empresa</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.empresa6 }}</ion-label>
            </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion6 != null">
        <ion-col size="6">
        <ion-label>Hora Inicial</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_inicial6 }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion6 != null">
        <ion-col size="6">
        <ion-label>Hora Final</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_final6 }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
     <ion-row *ngIf=" ot.cod_operacion6 != null" class="bottom">
        <ion-col size="6">
            <ion-label>Breve Descripción</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.b_descripcion6 }}</ion-label>
            </ion-chip>
        </ion-col>
     </ion-row>
         <ion-row *ngIf=" ot.cod_operacion7 != null">
          <ion-col size="6">
            <ion-label> Codigo Operación</ion-label>  
          </ion-col>
          <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.cod_operacion7 }}</ion-label>
            </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion7 != null">
        <ion-col size="6">
          <ion-label>Nivel</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.nivel7 }}</ion-label>
          </ion-chip>
        </ion-col>
        </ion-row>
      <ion-row *ngIf=" ot.cod_operacion7 != null">
          <ion-col size="6">
            <ion-label>Lugar</ion-label>  
            </ion-col>
            <ion-col size="6">
            <ion-label color="tertiary">{{ot.lugar7}}</ion-label>
            <ion-chip color="tertiary">
              <ion-label>{{ ot.lugar7 }}</ion-label>
            </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion7 != null">
        <ion-col size="6">
            <ion-label>Empresa</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.empresa7 }}</ion-label>
            </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion7 != null">
        <ion-col size="6">
        <ion-label>Hora Inicial</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_inicial7 }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion7 != null">
        <ion-col size="6">
        <ion-label>Hora Final</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_final7 }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
     <ion-row *ngIf=" ot.cod_operacion7 != null" class="bottom">
        <ion-col size="6">
            <ion-label>Breve Descripción</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.b_descripcion7 }}</ion-label>
            </ion-chip>
        </ion-col>
     </ion-row>
         <ion-row *ngIf=" ot.cod_operacion8 != null">
          <ion-col size="6">
            <ion-label> Codigo Operación</ion-label>  
          </ion-col>
          <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.cod_operacion8 }}</ion-label>
            </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion8 != null">
        <ion-col size="6">
          <ion-label>Nivel</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.nivel8 }}</ion-label>
          </ion-chip>
        </ion-col>
        </ion-row>
      <ion-row *ngIf=" ot.cod_operacion8 != null">
          <ion-col size="6">
            <ion-label>Lugar</ion-label>  
            </ion-col>
            <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.lugar8 }}</ion-label>
            </ion-chip>
          </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion8 != null">
        <ion-col size="6">
            <ion-label>Empresa</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.empresa8 }}</ion-label>
            </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion8 != null">
        <ion-col size="6">
        <ion-label>Hora Inicial</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_inicial8 }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf=" ot.cod_operacion8 != null">
        <ion-col size="6">
        <ion-label>Hora Final</ion-label>  
        </ion-col>
        <ion-col size="6">
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_final8 }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
     <ion-row *ngIf=" ot.cod_operacion8 != null" class="bottom">
        <ion-col size="6">
            <ion-label>Breve Descripción</ion-label>  
        </ion-col>
        <ion-col size="6">
            <ion-chip color="tertiary">
              <ion-label>{{ ot.b_descripcion8 }}</ion-label>
            </ion-chip>
        </ion-col>
     </ion-row>
     <ion-row>
         <ion-col size="12">
          <ion-item>
              <ion-label>Observaciones</ion-label>
              <br>
              <ion-chip color="tertiary" *ngIf=" ot.observaciones != null">
                <ion-label>{{ ot.observaciones }}</ion-label>
              </ion-chip>
            </ion-item>
         </ion-col>
     </ion-row>
     
   <ion-row>
      <ion-col size="6">
          <ion-label><b>* </b>Fecha de entrega de servicio</ion-label> 
          <br>
          <ion-chip color="tertiary">
            <ion-label>{{ ot.fecha_entrega }}</ion-label>
          </ion-chip>
      </ion-col>
      <ion-col size="6">
          <ion-label><b>* </b>Hora de entrega de servicio</ion-label>
          <br>
          <ion-chip color="tertiary">
            <ion-label>{{ ot.hora_entrega }}</ion-label>
          </ion-chip>
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col size="6">
          <ion-label><b>* </b>Nombre del Supervisor Avar</ion-label> 
          <br>
          <ion-chip color="tertiary">
            <ion-label>{{ ot.nombre_sup_avar }}</ion-label>
          </ion-chip>
      </ion-col>
      <ion-col size="6">
          <ion-label><b>* </b>Nombre del Contratista</ion-label>
          <br>
          <ion-chip color="tertiary">
            <ion-label>{{ ot.nombre_contratista }}</ion-label>
          </ion-chip>
      </ion-col>
   </ion-row>
  
  </ion-grid>
</ion-content>
