ion-chip{
    font-size: 15px;
    color: #1C2833;
}

.bottom{
    padding-bottom: 10px;
}

ion-label{
    position: center;
}

b{
    color: red;
}

ion-select{
    background: #F8F9F9;
}

ion-row.header{
    align-items: center;
    text-align: center;;
}

ion-grid{
    padding: 8px 8px;
}