ion-input{
    background: #F8F9F9;
    border-radius: 15px;
}

ion-label{
    position: center;
}

ion-datetime{
    background: #F8F9F9;
    border-radius: 15px;
}

b{
    color: red;
}

ion-select{
    background: #F8F9F9;
    border-radius: 15px;
}

ion-grid{
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
}

ion-row.header{
    align-items: center;
    text-align: center;;
}

