<app-header titulo="Editar Actividades (OT)"></app-header>

<ion-content>
    <form (ngSubmit)="updateOT()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label><b>* </b>Folio</ion-label>
              <ion-input autofocus required name="folio" type="text"
              [(ngModel)]="ot.folio"></ion-input>
            </ion-col>
            <ion-col>
                <ion-label><b>* </b>Fecha </ion-label>
                <ion-datetime displayFormat="YYYY MM DD"
                placeholder="(Año-mes-día)" 
                doneText="Aceptar"
                cancelText="Cancelar"
                required
                name="fecha" [(ngModel)]="ot.fecha">
                </ion-datetime>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-label><b>* </b>Planta de concreto</ion-label>
                <ion-select interface="popover" name="camion" [(ngModel)]="ot.camion">
                  <ion-select-option *ngFor="let planta of allp | async" 
                  value="{{ planta.num_economico }}">{{ planta.num_economico }}</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col>
              <ion-label position="floating"><b>* </b>Conductor</ion-label>
              <ion-input name="nombre_operador" disabled [(ngModel)]="ot.nombre_operador"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="6">
                  <ion-label><b>* </b>Turno</ion-label>
                      <ion-select interface="popover" placeholder="Seleccionar"
                      value="{{ot.turno}}" name="turno">
                          <ion-select-option value="1">1</ion-select-option>
                          <ion-select-option value="2">2</ion-select-option>
                      </ion-select>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label>Obra</ion-label>
              <ion-input type="text" name="obra" [(ngModel)]="ot.obra"></ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-label>Área</ion-label>
              <ion-input type="text" name="area" [(ngModel)]="ot.area"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating"><b>* </b>Kilometraje Inicial</ion-label>
              <ion-input name="kilometraje_ini" [(ngModel)]="ot.kilometraje_i"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="floating"><b>* </b>Kilometraje Final</ion-label>
              <ion-input name="kilometraje_final" [(ngModel)]="ot.kilometraje_f"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating"><b>* </b>Ubicación Inicial</ion-label>
              <ion-input name="d_ubicacion_ini" [(ngModel)]="ot.ubicacion_inicial"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="floating"><b>* </b>Ubicación Final</ion-label>
              <ion-input name="ubicacion_final" [(ngModel)]="ot.ubicacion_final"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="header">
            <ion-col>
              <ion-label color="tertiary">Reporte de Consumo en Litros</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating"><b>* </b>Diesel</ion-label>
              <ion-input name="combustible" [(ngModel)]="ot.consumo_diesel"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="floating"><b>* </b>Aceite de motor</ion-label>
              <ion-input name="aceite_hidraulico" [(ngModel)]="ot.consumo_aceite_motor"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="floating"><b>* </b>Aceite de trasmisión</ion-label>
              <ion-input name="aceite_transmision" [(ngModel)]="ot.consumo_aceite_transmision"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="floating"><b>* </b>Aceite Hidrahulico</ion-label>
              <ion-input name="aceite_motor" [(ngModel)]="ot.consumo_aceite_hidraulico"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="header">
            <ion-col>
              <ion-label color="tertiary">Trabajo Realizado</ion-label>
            </ion-col>
          </ion-row>

          <ion-card color="secondary">
            <ion-item color="secondary">
                <ion-label>Códigos de Operaciones</ion-label>
            </ion-item>
            <ion-card-content>
              <ion-label>R101 Abastecimiento de planta movil</ion-label>
              <br>
              <ion-label>R102 Producción de concreto</ion-label>
              <br>
              <ion-label>R103 Producción de fraguamax</ion-label>
              <br>
              <ion-label>R104 Producción de concreto (Zarpeo)</ion-label>
              <br>
              <ion-label>R105 Otros</ion-label>
            </ion-card-content>
          </ion-card>
                <ion-row>
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                        <ion-select 
                        [value]="ot.codigo_operacion" interface="popover"
                        (ionChange)="optionsFn($event, 'codigo_operacion')">
                          <ion-select-option value="R101">Abastecimiento de planta movil</ion-select-option>
                          <ion-select-option value="R102">Producción de concreto</ion-select-option>
                          <ion-select-option value="R103">Producción de fraguamax</ion-select-option>
                          <ion-select-option value="R104">R104 Producción de concreto (Zarpeo)</ion-select-option><ion-select-option value="R105">Otros</ion-select-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="nivel" [(ngModel)]="ot.nivel"></ion-input>
                  </ion-col>
                  </ion-row>
                <ion-row>
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input type="text" name="lugar" [(ngModel)]="ot.lugar"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="empresa" [(ngModel)]="ot.empresa"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                  <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horainicial" 
                        [(ngModel)]="ot.horainicial"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                  <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horafinal" 
                        [(ngModel)]="ot.horafinal"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-label>Horometro Inicial</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_inicial1" 
                    [(ngModel)]="ot.horometro_inicial1"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-label>Horometro Final</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_final1" 
                    [(ngModel)]="ot.horometro_final1"></ion-input>
                  </ion-col>
                </ion-row>
               <ion-row>
                  <ion-col size="6">
                      <ion-label>Breve Descripción</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="observaciones" [(ngModel)]="ot.observaciones"></ion-input>
                  </ion-col>
               </ion-row>
               <br>
                <ion-row *ngIf="(cont >= 2)">
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                      <ion-select interface="popover"
                        [value]="ot.codigo_operacion2" (ionChange)="optionsFn($event, 'codigo_operacion2')">
                          <ion-select-option value="R101">Abastecimiento de planta movil</ion-select-option>
                          <ion-select-option value="R102">Producción de concreto</ion-select-option>
                          <ion-select-option value="R103">Producción de fraguamax</ion-select-option>
                          <ion-select-option value="R104">R104 Producción de concreto (Zarpeo)</ion-select-option><ion-select-option value="R105">Otros</ion-select-option>
                      </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="nivel2" [(ngModel)]="ot.nivel2"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input type="text" name="lugar2" [(ngModel)]="ot.lugar2"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="empresa2" [(ngModel)]="ot.empresa2"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                  <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="horainicial2" 
                        [(ngModel)]="ot.horainicial2"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                  <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="horafinal2" 
                        [(ngModel)]="ot.horafinal2"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                    <ion-label>Horometro Inicial</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_inicial2" 
                    [(ngModel)]="ot.horometro_inicial2"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)">
                  <ion-col size="6">
                    <ion-label>Horometro Final</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_final2" 
                    [(ngModel)]="ot.horometro_final2"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 2)" class="bottom">
                    <ion-col size="6">
                        <ion-label>Breve Descripción</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                        <ion-input type="text" name="observaciones2" [(ngModel)]="ot.observaciones2"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                <ion-col size="6">
                  <ion-label> Codigo Operación</ion-label>  
                </ion-col>
                <ion-col size="6">
                      <ion-select interface="popover"
                        [value]="ot.codigo_operacion3" (ionChange)="optionsFn($event, 'codigo_operacion3')">
                          <ion-select-option value="R101">Abastecimiento de planta movil</ion-select-option>
                          <ion-select-option value="R102">Producción de concreto</ion-select-option>
                          <ion-select-option value="R103">Producción de fraguamax</ion-select-option>
                          <ion-select-option value="R104">R104 Producción de concreto (Zarpeo)</ion-select-option><ion-select-option value="R105">Otros</ion-select-option>
                      </ion-select>
                </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
              <ion-col size="6">
                <ion-label>Nivel</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="nivel3" [(ngModel)]="ot.nivel3"></ion-input>
              </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input type="text" name="lugar3" [(ngModel)]="ot.lugar3"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="empresa3" [(ngModel)]="ot.empresa3"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                  <ion-col size="6">
                  <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                        <ion-input type="text" name="horainicial3" 
                        [(ngModel)]="ot.horainicial3"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                  <ion-col size="6">
                    <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="horafinal3" 
                        [(ngModel)]="ot.horafinal3"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                  <ion-col size="6">
                    <ion-label>Horometro Inicial</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_inicial3" 
                    [(ngModel)]="ot.horometro_inicial3"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)">
                  <ion-col size="6">
                    <ion-label>Horometro Final</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_final3" 
                    [(ngModel)]="ot.horometro_final3"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 3)" class="bottom">
                  <ion-col size="6">
                      <ion-label>Breve Descripción</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="observaciones3" [(ngModel)]="ot.observaciones3"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                          <ion-select interface="popover"
                            [value]="ot.codigo_operacion4" (ionChange)="optionsFn($event, 'codigo_operacion4')">
                              <ion-select-option value="R101">Abastecimiento de planta movil</ion-select-option>
                              <ion-select-option value="R102">Producción de concreto</ion-select-option>
                              <ion-select-option value="R103">Producción de fraguamax</ion-select-option>
                              <ion-select-option value="R104">R104 Producción de concreto (Zarpeo)</ion-select-option><ion-select-option value="R105">Otros</ion-select-option>
                          </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="nivel4" [(ngModel)]="ot.nivel4"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input type="text" name="lugar4" [(ngModel)]="ot.lugar4"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="empresa4" [(ngModel)]="ot.empresa4"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                    <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                        <ion-input type="text" name="horainicial4" 
                        [(ngModel)]="ot.horainicial4"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                    <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horafinal4" 
                    [(ngModel)]="ot.horafinal4"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                    <ion-label>Horometro Inicial</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_inicial4" 
                    [(ngModel)]="ot.horometro_inicial4"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)">
                  <ion-col size="6">
                    <ion-label>Horometro Final</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_final4" 
                    [(ngModel)]="ot.horometro_final4"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 4)" class="bottom">
                  <ion-col size="6">
                      <ion-label>Breve Descripción</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="observaciones4" [(ngModel)]="ot.observaciones4"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                      <ion-select interface="popover"
                      [value]="ot.codigo_operacion5" (ionChange)="optionsFn($event, 'codigo_operacion5')">
                        <ion-select-option value="R101">Abastecimiento de planta movil</ion-select-option>
                        <ion-select-option value="R102">Producción de concreto</ion-select-option>
                        <ion-select-option value="R103">Producción de fraguamax</ion-select-option>
                        <ion-select-option value="R104">R104 Producción de concreto (Zarpeo)</ion-select-option><ion-select-option value="R105">Otros</ion-select-option>
                    </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="nivel5" [(ngModel)]="ot.nivel5"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input type="text" name="lugar5" [(ngModel)]="ot.lugar5"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="empresa5" [(ngModel)]="ot.empresa5"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                    <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horainicial5" 
                    [(ngModel)]="ot.horainicial5"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                    <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horafinal5" 
                    [(ngModel)]="ot.horafinal5"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                    <ion-label>Horometro Inicial</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_inicial5" 
                    [(ngModel)]="ot.horometro_inicial5"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 5)">
                  <ion-col size="6">
                    <ion-label>Horometro Final</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_final5" 
                    [(ngModel)]="ot.horometro_final5"></ion-input>
                  </ion-col>
                </ion-row>
              <ion-row *ngIf="(cont >= 5)" class="bottom">
                  <ion-col size="6">
                      <ion-label>Breve Descripción</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="observaciones5" [(ngModel)]="ot.observaciones5"></ion-input>
                  </ion-col>
              </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                    <ion-col size="6">
                      <ion-label> Codigo Operación</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                      <ion-select interface="popover"
                        [value]="ot.codigo_operacion6" (ionChange)="optionsFn($event, 'codigo_operacion6')">
                          <ion-select-option value="R101">Abastecimiento de planta movil</ion-select-option>
                          <ion-select-option value="R102">Producción de concreto</ion-select-option>
                          <ion-select-option value="R103">Producción de fraguamax</ion-select-option>
                          <ion-select-option value="R104">R104 Producción de concreto (Zarpeo)</ion-select-option><ion-select-option value="R105">Otros</ion-select-option>
                      </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                    <ion-label>Nivel</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="nivel6" [(ngModel)]="ot.nivel6"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                      <ion-col size="6">
                      <ion-label>Lugar</ion-label>  
                      </ion-col>
                      <ion-col size="6">
                      <ion-input type="text" name="lugar6" [(ngModel)]="ot.lugar6"></ion-input>
                      </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                      <ion-label>Empresa</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                      <ion-input type="text" name="empresa6" [(ngModel)]="ot.empresa6"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                  <ion-label>Hora Inicial</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horainicial6" 
                    [(ngModel)]="ot.horainicial6"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                    <ion-label>Hora Final</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horafinal6" 
                    [(ngModel)]="ot.horafinal6"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                    <ion-label>Horometro Inicial</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_inicial6" 
                    [(ngModel)]="ot.horometro_inicial6"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)">
                  <ion-col size="6">
                    <ion-label>Horometro Final</ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input type="text" name="horometro_final6" 
                    [(ngModel)]="ot.horometro_final6"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="(cont >= 6)" class="bottom">
                    <ion-col size="6">
                        <ion-label>Breve Descripción</ion-label>  
                    </ion-col>
                    <ion-col size="6">
                        <ion-input type="text" name="observaciones6" [(ngModel)]="ot.observaciones6"></ion-input>
                    </ion-col>
                </ion-row>
            <ion-row *ngIf="(cont >= 7)">
                <ion-col size="6">
                  <ion-label> Codigo Operación</ion-label>  
                </ion-col>
                <ion-col size="6">
                  <ion-select interface="popover"
                    [value]="ot.codigo_operacion7" (ionChange)="optionsFn($event, 'codigo_operacion7')">
                      <ion-select-option value="R101">Abastecimiento de planta movil</ion-select-option>
                      <ion-select-option value="R102">Producción de concreto</ion-select-option>
                      <ion-select-option value="R103">Producción de fraguamax</ion-select-option>
                      <ion-select-option value="R104">R104 Producción de concreto (Zarpeo)</ion-select-option><ion-select-option value="R105">Otros</ion-select-option>
                  </ion-select>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
                <ion-label>Nivel</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="nivel7" [(ngModel)]="ot.nivel7"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
                  <ion-col size="6">
                  <ion-label>Lugar</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                  <ion-input type="text" name="lugar7" [(ngModel)]="ot.lugar7"></ion-input>
                  </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
                  <ion-label>Empresa</ion-label>  
              </ion-col>
              <ion-col size="6">
                  <ion-input type="text" name="empresa7" [(ngModel)]="ot.empresa7"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
              <ion-label>Hora Inicial</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="horainicial7" 
                [(ngModel)]="ot.horainicial7"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
              <ion-label>Hora Final</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="horafinal7" 
                [(ngModel)]="ot.horafinal7"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
                <ion-label>Horometro Inicial</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="horometro_inicial7" 
                [(ngModel)]="ot.horometro_inicial7"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)">
              <ion-col size="6">
                <ion-label>Horometro Final</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="horometro_final7" 
                [(ngModel)]="ot.horometro_final7"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 7)" class="bottom">
                <ion-col size="6">
                    <ion-label>Breve Descripción</ion-label>  
                </ion-col>
                <ion-col size="6">
                    <ion-input type="text" name="observaciones7" [(ngModel)]="ot.observaciones7"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
                <ion-col size="6">
                  <ion-label> Codigo Operación</ion-label>  
                </ion-col>
                <ion-col size="6">
                  <ion-select interface="popover"
                  [value]="ot.codigo_operacion8" (ionChange)="optionsFn($event, 'codigo_operacion8')">
                    <ion-select-option value="R101">Abastecimiento de planta movil</ion-select-option>
                    <ion-select-option value="R102">Producción de concreto</ion-select-option>
                    <ion-select-option value="R103">Producción de fraguamax</ion-select-option>
                    <ion-select-option value="R104">R104 Producción de concreto (Zarpeo)</ion-select-option><ion-select-option value="R105">Otros</ion-select-option>
                  </ion-select>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
                <ion-label>Nivel</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="nivel8" [(ngModel)]="ot.nivel8"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
                  <ion-col size="6">
                  <ion-label>Lugar</ion-label>  
                  </ion-col>
                  <ion-col size="6">
                  <ion-input type="text" name="lugar8" [(ngModel)]="ot.lugar8"></ion-input>
                  </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
                  <ion-label>Empresa</ion-label>  
              </ion-col>
              <ion-col size="6">
                  <ion-input type="text" name="empresa8" [(ngModel)]="ot.empresa8"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
              <ion-label>Hora Inicial</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="horainicial8" 
                [(ngModel)]="ot.horainicial8"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
              <ion-label>Hora Final</ion-label>  
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="horafinal8" 
                [(ngModel)]="ot.horafinal8"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
                <ion-label>Horometro Inicial</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="horometro_inicial8" 
                [(ngModel)]="ot.horometro_inicial8"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="(cont >= 8)">
              <ion-col size="6">
                <ion-label>Horometro Final</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input type="text" name="horometro_final8" 
                [(ngModel)]="ot.horometro_final8"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button  
                size="small"
                shape="round"
                color="primary"
                (click)="sumar()"
                >
                Agregar
                </ion-button>
                <ion-button  
                size="small"
                shape="round"
                color="danger"
                (click)="restar()"
                >
                Remover
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-label>Observaciones</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                  <ion-textarea name="observaciones" [(ngModel)]="ot.ob_generales"></ion-textarea>
                </ion-col>
            </ion-row>
            
           
         <ion-row>
            <ion-col size="6">
                <ion-label><b>* </b>Nombre del Supervisor Avar</ion-label> 
                <ion-input type="text" name="nombre_supavar" 
                [(ngModel)]="ot.nombre_supavar"></ion-input> 
            </ion-col>
            <ion-col size="6">
                <ion-label><b>* </b>Nombre del Contratista</ion-label>
                <ion-input type="text" name="nombre_supcontratista" 
                [(ngModel)]="ot.nombre_supcontratista"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col size="12">
              <ion-button type="submit" 
                    expand="block" 
                    fill="solid" 
                    shape="round"
                    color="primary"
                    >
              Guardar
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
    </form>
</ion-content>
