ion-input{
    background: #F2F4F4;
    border-radius: 15px;
}

ion-label{
    position: center;
}

ion-textarea{
    background: #F2F4F4;
    border-radius: 15px;
}

ion-datetime{
    background: #F2F4F4;
    border-radius: 15px;
}

b{
    color: red;
}

ion-select{
    background: #F2F4F4;
    border-radius: 15px;
}

ion-row.header{
    align-items: center;
    text-align: center;;
}