ion-chip{
    font-size: 15px;
}

ion-label{
    color: #1C2833;
    position: center;
}

.bold{
    font-weight: bold;
}

ion-datetime{
    background: #F8F9F9;
}

b{
    color: red;
}

ion-select{
    background: #F8F9F9;
}

ion-row.header{
    align-items: center;
    text-align: center;;
}

ion-grid{
    padding: 1em 1em;
}