<app-header titulo="Editar Usuario"></app-header>

<ion-content>
  <ion-card>
    <div class="center" *ngIf="usuario.foto != null">
      <img src="http://localhost/avar/public/img/users/{{usuario.foto}}"
      alt="" width="100" height="100">
    </div>
    <div class="center" *ngIf="usuario.foto == null">
      <img src="/assets/user.png" width="100" height="100">
    </div>

    <ion-card-header>
      <div class="center">
        <ion-card-subtitle>{{usuario.tipouser}}</ion-card-subtitle>
        <h5>{{usuario.name}}</h5>
      </div>
      
      
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="editUser()">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
                <ion-label><b class="rojo">*</b>Nombre Completo</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                <ion-input type="text" [(ngModel)]="usuario.name" name="name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                <ion-label><b class="rojo">*</b>Nombre de Usuario (# Trabajador)</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                <ion-input type="text" [(ngModel)]="usuario.username" name="username" disabled></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                <ion-label>Nueva Contraseña</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                <ion-input type="text" [(ngModel)]="usuario.password" name="password"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-label>Rol de Usuario </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-select ok-text="Aceptar" cancel-text="Cancelar" [(ngModel)]="usuario.tuserint" 
              name="tuserint">
                <ion-select-option value="1">Administrador</ion-select-option>
                <ion-select-option value="2">Gerente</ion-select-option>
                <ion-select-option value="3">Jefe de Administración </ion-select-option>
                <ion-select-option value="4">Verificador Int/Sup</ion-select-option>
                <ion-select-option value="5">Jefe de Mantenimiento</ion-select-option>
                <ion-select-option value="6">Ayudante de Mantenimiento</ion-select-option>
                <ion-select-option value="7">Supervisor de R.H</ion-select-option>
                <ion-select-option value="8">Supervisor de Almacén</ion-select-option>
                <ion-select-option value="10">Operador Retroexcavadora</ion-select-option>
                <ion-select-option value="11">Chofer</ion-select-option>
                <ion-select-option value="12">Encargado de Soldadura</ion-select-option>
                <ion-select-option value="13">Operador Telehandler</ion-select-option>
                <ion-select-option value="14">Ayudante de Obra</ion-select-option>
                <ion-select-option value="15">Operador Planta de Concreto</ion-select-option>
                <ion-select-option value="16">Verificador de Reportes</ion-select-option>
                <ion-select-option value="17">Ayudante General Int/Sup</ion-select-option>
                <ion-select-option value="18">Ayudante General Sup</ion-select-option>
                <ion-select-option value="19">Oficial Carpintero Int/Sup</ion-select-option>
                <ion-select-option value="22">Oficial Albañil Superficie</ion-select-option>
                <ion-select-option value="21">Oficial Albañil Int/Sup</ion-select-option>
                <ion-select-option value="23">Supervisor de Seguridad</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button type="submit" 
                    expand="block" 
                    fill="solid" 
                    shape="round"
                    color="primary"
                    >
              Guardar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
