<app-header titulo="Recientes (Check-List)"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <ion-input (ionChange)="buscar($event)" showCancelButton="always" placeholder="Buscar...">
          <ion-icon name="search"></ion-icon>
        </ion-input>
      </ion-col>
      <ion-col size="8">
        <ion-chip color="primary" (click)="folio()">
          <ion-label>Folio</ion-label>
        </ion-chip>
        <ion-chip color="primary" (click)="fecha()">
          <ion-label>Fecha</ion-label>
        </ion-chip>
        <ion-chip color="primary" (click)="planta()">
          <ion-label>Equipo</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-list>
        <ion-item-sliding #lista *ngFor="let check of dato$ | async | filtro: textBuscar: columna">
          <ion-item>
            <ion-label>
              <h2>Folio: {{ check.folio }}</h2>
              <h3>Telehandler: {{ check.manipulador }}</h3>
            </ion-label>
            <ion-label slot="end" text-right>
              <h2>Fecha: {{ check.fecha }}</h2>
              <h3 class="verde" *ngIf="check.permiso_edicion != null">
                 <ion-icon name="create-outline"></ion-icon>
                   Editar
                </h3>
            </ion-label>
          </ion-item>
    
          <ion-item-options side="start" *ngIf="check.permiso_edicion != null">
            <ion-item-option  routerLink="/editcheckplanta/{{ check.id }}">
              <ion-icon name="create-outline" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end">
            <ion-item-option color="warning"  routerLink="/vercheckplanta/{{ check.id }}">
              <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
    
        </ion-item-sliding>
    
    </ion-list>
</ion-content>

